#main, .table{
    justify-content: center;
    margin: auto;
}

tr,td{
    padding: 15px;
}
.table{
    background-color:rgb(214, 137, 217);
    width: 45%;
    text-align: center;
    margin-top:50px;
    padding: 20px;
}

table, th, td {
    border: 1px solid;
  }